Repository yomorun/yomo, pull requests merged in 2023-08, with the labels that each got.

#592 fix: return HandshakeRejectFrame when new
  core/control_stream.go
  core/frame/frame.go
Labels: bug

#597 doc: add sfn.Init()
  docs/pages/docs/api/sfn.mdx
Labels: doc, feat/serverless

#598 doc: add open tracing
  docs/pages/docs/_meta.json
  docs/pages/docs/api/sfn.mdx
  docs/pages/docs/api/source.mdx
  docs/pages/docs/opentracing.mdx
Labels: doc
